<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CONTACTOS</title>
<link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <header>
        <nav class="menu">
        <div class="logo"> <img src="./img/logo.png" alt="Mi-logo"></div>
            <ul class="menu-items">
                <li><a href="#" class="active   ">Inicio</a></li>
                <li><a href="/qsomos.html">QSOMOS</a></li>
                <li><a href="/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>CONTACTOS</h1>
            <p>Explora el contenido a través del menú de navegación
            superior.</p>
        </section>
    </main>
</body>
</html>